@import 'color.scss';

.header {
    @extend .primary-bg;
    padding: 1rem;
    height: 120px;
}

.header a{
    color: $text-light;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover{
    border-bottom: 5px solid $accent-color;
}