.black-bold{
    color: black;
    font-weight: bold;
}
.primary-normal {
    color: $primary-color;
    font-weight: normal;
}

.primary-semibold {
    color: $primary-color;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.font-100 {
    font-size: 100px !important;
}

.font-28 {
    font-size: 28px;
}

.font-24 {
    font-size: 24px;
}

.font-22 {
    font-size: 22px;
}

.font-20 {
    font-size: 20px;
}

.font-16{
    font-size: 16px;
}